@media screen and (min-width: 0){

    #divTop{
        display: none;
    }

    #app{
        margin: 50px auto 0 auto;
    }
    
    .main{
        flex-direction: column;
    }

    .textField{
        width: 100%;
        margin: 0;
    }

    .warning{
        font-size: 13px;
    }

    #boxButtons{
        display: flex;
        flex-direction: column;
        margin: 30px 0 50px 0;
    }

    .buttons{
        width: 330px;
        height: 50px;
    }

    #btEncrypt, #btDecrypt{
        margin: 10px 0;
    }

    #btCopy{
        margin-top: 50px;
    }

    .footer{
        margin-top: 60px;
        padding: 30px;
    }

    #credits{
        text-align: center;
        font-size: 14px;
    }

}

@media screen and (min-width: 768px){

    #divTop{
        display:block;
    }

    .main{
        flex-direction: row;
    }

    .textField{
        width: 350px;
        height: 420px;
    }

    .text{
        margin: 0 20px;
    }

    #boxButtons{
        flex-direction: row;
        margin: 30px 0 40px 0;
    }

    .warning{
        font-size: 14px;
    }

    .buttons{
        width: 160px;
	    height: 30px;
        font-size: 14px;
    }

    #btEncrypt, #btDecrypt{
        margin: 0px 10px;  
    }
}

@media screen and (min-width: 1100px){
    
    .textField{
        width: 420px;
        height: 420px;
        margin: 30px 60px 0 70px;
    }

    .text{
        margin: 0;
    }

    .warning{
        font-size: 18px;
    }

    .buttons{
        width: 180px;
	    height: 30px;
        font-size: 15px;
    }

    .footer{
        margin-top: 150px;
    }

    #credits{
        font-size: 18px;
    }
    
}