@media (min-width: 700px) {
  .textField {
    min-width: 32rem;
    min-height: 33rem;
    margin-top: 8rem;
    font-size: 2rem;
  }

  .textField::placeholder {
    font-size: 2rem;
  }

  #loading {
    margin-top: 18rem;
    margin-bottom: 9rem;
  }

  #loading img {
    width: 25rem;
  }
  
  #loading p {
    width: 20rem;
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }

  #boxButtons {
    gap: 1rem;
  }

  #boxButtons .buttons {
    width: 15rem;
	  height: 3.5rem;
    font-size: 1.7rem;

    transition: .5s;
  }

  section .buttons:hover{
    --bg-button-color: #a4b0fd;
    color: #000116;
    transform: scale(1.1);
  }

  footer div a img {
    transition: .3s;
  }

  footer div a img:hover {
    transform: scale(1.1);
  }

}