body{
	background-color: var(--bg-color);
}

:root{
	--text-color: #01161e;
	--button-color: #124559;
	--bg-color: #aec3b0;
	--footer-color: #598392;
}

#app{
	width: fit-content;
}

.top{
	margin: 50px ;
}

.main{
	display: flex;
}

.textField{
	height: 420px;
	font-size: 1.7rem;
	background-color: var(--bg-color);
	color: var(--text-color);
	border-style: none;
	text-align: center;
	outline: none;
	padding: 0;
}

.text{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#textTwo{
	background-image: url('../assets/rindo.png');
	background-position: center;
}


.warning{
	text-align: center;
	line-height: 10px;
	font-family: monospace;
	color: var(--text-color);
	margin: 10px 0 0 0;
}

.buttons{
	color: #eff6e0;	
	background: var(--button-color);	
	font-weight: bold;
	border-style: none;
	cursor: pointer;
	border-radius: 5px;
}

.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--footer-color);
	padding-top: 15px;
}

.networks{
	height: 45px;
	width: 45px;
	margin-top: 2%;
	box-shadow: 10px 5px 5px black;
}

#credits{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 15px 0 0 0;
}