body{
	
	background-color: #E6E6FA;
	
}

#alura{
	
	margin-top:5%;
  	margin-left: 5%;
	
}

.main{
	display: flex;
	margin: auto;
	min-width: 300px;
	max-width: 1200px;	
}

#enviado{
	
	flex-direction: row;
	width: 420px;
	height: 420px;
	margin-left: 20%;
	background-color: #E6E6FA;
	font-family: monospace;
	font-size: 200%;
	color: black;
	border-style: none;
	text-align: center;
	/*box-shadow: 10px 5px 5px black;*/
	margin-top: 5%;
	outline: none;



}

#enviado::placeholder{

	color: gray;
}

.atencao{
	
	flex-direction: row;
	font-size: 135%;
	font-family: monospace;
	color: 	#000000;
	font-weight: bold;
	text-shadow:0 0 5px white;
	margin-top: 5%;
	margin-left: 100px;
	
}

.botoes{
	
	flex-direction: row;
	margin-top: 5%;
	width: 180px;
	height: 30px;
	color: #000000;	
	background: #c8c8c8;
	font-size: 80%;	
	font-weight: bold;
	border-style: none;
	box-shadow: 10px 5px 5px black;
	cursor: pointer;
	border-radius: 5px;
}

#botao1{
	margin-left: 22%;
	gap: 5px;
}

#botao2{
	margin-left: 2%;
}

#recebido{
	height: 420px;
	width: 420px;
	margin-left: 30%;
	color: black;
	border-style: none;
	font-family: monospace;
	font-size: 200%;
    background-color: #E6E6FA;
    background-image: url('rindo.png');
	background-size:100%  100%;
	text-align: center;
	/*box-shadow: 10px 5px 5px black;*/
	margin-top: 5%;
	outline: none;



}

#recebido::placeholder {
  color: gray;
}

#copiar{
	margin-top: 17.6%;
	margin-left: 51%;
}
.contas{
	background-color: #b6b6b6;
	margin-top:6%;
}
 
#linke, #git{
	height: 45px;
	width: 45px;
	margin-top: 2%;
	display: inline-block;
	box-shadow: 10px 5px 5px black;
	cursor: pointer;
	background-size:100%  100%;
}

#linke{
	margin-left:47%; 
}

#final{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding-top: 1%;
	text-align: center;
}

/* responsividade para tipos de telas diferentes: */

@media(max-width: 1200px){
	
	#linke{
		margin-left: 55%;
	}
}

@media(max-width: 1230px){
	
	#recebido{
		margin-left: 20%;
	}

	#copiar{
		margin-left: 40%;
	}
	#linke{
		margin-left: 48%;
	}
}

@media(max-width: 1150px){

	#enviado{
		margin-left: 10%;
	}
	
	#recebido{
		margin-left: 10%;
		margin-top: 4%;
	}

	#copiar{
		margin-left: 30%;
		margin-top: 18.5%;
	}

	#botao1{
		margin-left: 21%;
	}
	
}

@media(max-width: 1132px){
	#botao1, #botao2{
		margin-top: 0.5%;
	}
}

@media(max-width: 1100px){

	#recebido{
		margin-top:4.5%;
    }

	#botao1{
		margin-left: 14%;
	}

	#copiar{
		margin-top: 19%;
	}
}
@media(max-width: 1000px){
	
	.main{
		display: block;
		
    }
	
	#recebido, #enviado{
		margin-left: 25%;
		
	}

	.atencao{
		margin-left: 26%;
	}

	#botao1{
		margin-left: 26%;
	}

	#copiar{
		margin-left: 39%;
	}

	#linke{
		margin-left: 43.5%;
	}

}

@media(max-width: 800px){

	#copiar{
		margin-left: 41%;
	}

	#linke{
		margin-left: 47%;
    }

}
@media(max-width: 700px){
	
	.main{
		display: block;
		
    }
	
	#recebido, #enviado, #atenção, #botao1{
		margin-left: 20%;
	}

	#copiar{
		margin-left: 39%;
	}

	#linke{
		margin-left: 45%;
    }

}

@media(max-width: 600px){

	
	.main{
		display: block;
		
    }
	
	#recebido, #enviado, .atencao, #botao1 {
		margin-left: 15%;
	}

	#copiar{
		margin-left: 36%;
	}

	#linke{
		margin-left: 44%;
    }

	.contas{
		background-color: #E6E6FA;
	}
}

@media(max-width: 375px){

	#alura{
		width: 30px;
		height: 35px;
	}
	
	#enviado, #recebido{
		width: 300px;
		height: 340px;
		margin-left: 2%;
		font-size: 150%;
		margin-top: 5%;
	}

	.botoes{
		width:75%;
		height: 26px;
		font-size: 70%;
	}

	#botao2{
		margin-left:15%;
	}

	#copiar{
		margin-left: 15%;
	}

	.atencao{
		margin-left: 2%;
		font-size: 120%;
		text-align: center;
		
	}
	.contas{
		background-color: #E6E6FA;
	}
		
	#linke{
		margin-left:39%;
    }

	#git, #linke{
		height: 30px;
		width: 30px;
	}

	#final{
		font-size: 15px;
		width: 300px;
		margin-left: 6%;
	}
}

@media(max-width: 320px){
	
	#enviado, #recebido{
		width: 250px;
		height: 320px;
		margin-left: 2%;
		font-size: 150%;
		margin-top: 5%;
	}

	.atencao{
		font-size: 11px;
		margin-left: 2%;
		text-align: left;
	}

	.botoes{
		width:60%;
		height: 28px;
		margin-left:0%;
		font-size: 70%;
	}

	#linke{
		margin-left: 35%;
    }

	#git, #linke{
		width: 30px;
		height: 30px;
	}

	.contas{
		background-color: #E6E6FA;
	}
	
	#final{
		font-size: 12px;
		width: 90%;
		margin-left: 2%;
	}
}
